.popup_backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.addnote {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: var(--card);
  color: var(--text);
  padding: 30px 40px;
  border-radius: 12px;
  border: 1px solid var(--primary);
  cursor: pointer;
  position: relative;
  flex-direction: column;
  height: 35rem;
  width: 40rem;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.addnote button {
  background: linear-gradient(135deg, #8b5cf6, #c084fc);
  color: #f3f4f6;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
}

.addnote button:hover {
  transform: translateY(-2px);
  /* box-shadow: 0 5px 15px rgba(139, 92, 246, 0.4); */
}
.btn {
  position: relative;
  display: flex;
  gap: 10px;
  left: 183px;
  top: 11px;
}
.btn .bt-2 {
  background: var(--text);
  color: var(--card);
}
.bt-2:hover {
  background: #d4d5d7;
}
.line {
  width: 114%;
  height: 0.1px;
  background-color: var(--primary);
  padding: none;
  position: relative;
  top: -22px;
}
.box-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: relative;
  top: -15px;
}
.box-top h1 {
  font-size: 20px;
  color: var(--text);
  align-items: start;
}
.box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  position: relative;
  top: -13px;
}
.title {
  width: 100%;
  padding: 0px 10px;
  background: var(--border);
  border: 1px solid var(--border);
  color: var(--text);
}
.dec {
  padding: 2px 10px;
  width: 100%;
  height: 20rem;
  resize: none;
  background: var(--border);
  border: 1px solid var(--border);
  color: var(--text);
}
.cut:hover{
  color: var(--muted);
}